/* универсальные классы */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background:rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.no_wrap {
  white-space: nowrap;
}

address {
  font-style: inherit;
}

/* БЛОК header */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 93px 49px 96px 51px;
}

.header_menu {
  
}

.header_links-list {
  display: flex;
  align-items: center;
  list-style: circle;
  gap: 10px 34px;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-underline-offset: 5px;
}

.header_link_active {
}

.header_logo {
  display: block; /* тест */
  justify-self: center;
  align-self: center;
  margin-right: 85px;
  width: 140px; 
}

.header_logo-image {
  display: block; /* тест */
  justify-self: center;
  height: 105px;
}

.header_address {
  display: block; 
  justify-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.35;
  padding-left: 26px;
}

.header_address_link {
  display: block;
  text-underline-position: under;
}


.info_style {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.35;
}

/* конец header */

/* начало main */

.cover {
  position: relative;
  z-index: 1;
  padding: 173px 50px 50px 50px;
  color: #fff;
  background-color: #a7a7a7;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.cover_h1 {
  display: flex;
  flex-direction: column;
  font-family: url(../fonts/Raleway-Bold.woff);
  row-gap: 24px;
  margin-bottom: 135px;
  font-size: 100px;
  font-weight:700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.span_left {
  text-align: left;
}

.span_center {
  text-align: center;
}

.span_right {
  text-align: right;
}

.letter-spacing-extended {
 letter-spacing: 60px;
}

.letter_spacing_none {
  letter-spacing: normal;
}

.bottom_board {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.text_on_board {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 127%;
  text-align: center;
  margin-right: 80px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.button {
  font-family: 'Raleway', sans-serif;
  border: 1px solid #ffffff;
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  padding: 12px 32px;
  line-height: normal;
  opacity: 0px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

/* конец main */

.lots {
  padding: 142px 24px 0 24px;
}

.lots_heading {
  font-family: url(../fonts/Raleway-Bold.woff);
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
  color: #000;
  margin-right: 29px;
  margin-left: 40px;
  margin-bottom: 24px;
  margin-top: 37px;
}

.lots_card_list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 25px;
}

.lots_card_list_item {
  width: 334px;
  min-height: 560px;
  flex-grow: 1
}

.card {
  z-index: 1;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card_link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card_title {
  font-family: url(../fonts/Raleway-Bold.woff);
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.card_text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-top: auto;
}

.lots_look_more_link {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 29px 40px;
}



.card_type_film,
.card_type_book,
.card_type_picture {
  background-color: #a7a7a7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 49px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 24px;
  padding: 153px 70px 0 70px;
  
}

.about_column {
  display: flex;
  flex-direction:column;
  justify-self: center;
  padding: 6px 50px 55px 50px;
}

.about_logo {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about_logo_image {
  width: 148px;
}

.about_title {
  padding: 100px 0 104px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction:column;
  gap: 24px;
  width: 688px;
  min-height: 120px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_address_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}

.address_footer {
  display: block; 
  justify-self: flex-start;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.35;
  padding-top: 125px;
  padding-left: 51px;
}

.footer_menu {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding-top: 126px;
}

.footer_menu_list {
  list-style: none;
}

.footer_menu_list_item {
  
}

.footer_menu_link_active {

}

.footer_social_list {
  display: flex;
  justify-content: center;
  gap: 48px;
  list-style: none;
  padding-top: 124px;
  padding-left: 28px;
}

.footer_social_list_item {

}
.footer_social_link {

}


/*
.header_links-list-item {
  display: flex;
  align-items: center;
  gap: 10px 33px;
  list-style: circle;
}
*/